<ol>
  <% @posts.each do |post| %>
  <li><p class="link_title"><%= link_to post.title, post.url %></p>
    <p><%= link_to 'comments', post_path(post), id: "post-#{post.id}" %> |
    <%= post.comments.length %> comments<p>
  </li>
  <br>
  <% end %>
</ol>
